body {
    font-size: 1.4rem;
    width: 800px;
    margin: 0 auto;
    min-height: 100vh;
    display: grid;
    
    
    grid-template:
        "... ...... ...... ...... ..." 10px
        "... header header header ..." 40px
        "... ...... ...... ...... ..." 10px
        "... left   ...... center ..." 1fr
        "... ...... ...... center ..." 10px
        "... footer ...... center ..." 30px
        "... ...... ...... ...... ..." 10px
        / 10px 150px 10px 1fr 10px ; 
}
header {
    grid-area: header;
    background-color: #fff;
}
main {
    grid-area: center;
    position: relative;
    background-color: whitesmoke;
}

#title {
    height: 5%;
    width: 100%;
    border-color: gainsboro;
}

#note{
    height: 94%;
    width: 100%;
    border-color: gainsboro;
}

nav {
    grid-area: left;
    background-color: lightgray;
}

.navList {
    display:flex;
    width: 100%;
}
#navIcon {
    font-size:0.8rem;
    color: dimgrey;
    transform: rotate(90deg);
    margin:0 5px 0 3px;
}

#navIcon.active {
    transform: rotate(180deg);
}


#navAddPage {
    font-size:1.4rem;
    color: dimgrey;
    margin:0 5px 0 auto;
}


.navTitle {
    margin: 0 0 0 5px;
}
.navTitle:hover {
    opacity: 0.5;
    cursor: pointer;
}

/* .navList:hover + #navAddPage{
    visibility:visible;
} */

footer {
    grid-area: footer;
    background-color: whitesmoke;
}
footer:hover {
    opacity: 0.5;
    cursor: pointer;
}


.popup-overlay{
    /* pop-upで表示する部分　最初はhiddenにしておく*/
    visibility:hidden;
    position:absolute;
    background:white;
    border:3px solid #666666;
    width:60%;
    height:20%;    
  }

  .popup-overlay.active{
    /*pop-upをアクティブクラスをつけたとき*/
    visibility:visible;
    text-align:center;
  }
  
  .popup-content {
    /*pop-upが アクティブクラスがついていない時 */
   visibility:hidden;
  }
  
  .popup-content.active {
    /*popupでアクティブクラスついた時のコンテンツ表示*/
    visibility:visible;
  }
  
  button{
    display:inline-block;
    vertical-align:middle;
    border-radius:5px;
    margin:0.4rem;
    font-size: 1.2rem;
    color:#666666;
    background:	#ffffff;
    border:1px solid #666666;  
  }
  
  button:hover{
    border:1px solid #666666;
    background:#666666;
    color:#ffffff;
  }




@media screen and (max-width: 660px) {
    body {
        grid-template:
            "header" 100px
            "center" 1fr
            "left  "
            "right "
            "footer" 100px;
            
    }
}